<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JAZModuleExternal/src/debug/zBasic/util/moduleExternal/process/watch/ProcessWatch_2_ProcessWatchMonitorStyle_MainZZZ.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="debug.zBasic.util.moduleExternal.process.watch.ProcessWatch_2_ProcessWatchMonitorStyle_MainZZZ"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JAZModuleExternal"/>
</launchConfiguration>
